/* div
{
    height: 50px;
    width: 50px;
    background-color: blue;
}

@media (width : 600px) {
    div 
{
    background-color: red;
}
}

@media (max-width : 500px) {
    div 
    {
        background-color: brown;
    }
} */

div {
    height: 500px;
    width: 500px;
    background-color: blue;

}

@media (max-width : 300px) {
    div {
        background-color: green;
    }
}

@media (min-width : 600px) {
    div {
        background-color: aqua;
    }
}

@media (min-width : 400px) and (max-width : 600px) {
    div {
        background-color: brown;
    }
}

@media (min-width : 300px) and (max-width : 400px) {
    div {
        background-color: black;
    }
}
