.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* background-color: deepskyblue; */
     border: 10px solid blue;
    border-left: 10px solid black;
    animation: spin 1s steps(5) 0s infinite normal;

}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}