/* div
{
    background-color: burlywood;
    display: flex;
    justify-content: space-evenly;
    
}

a
{
    text-decoration: none;
    color: black;
    background-color: aquamarine;
}

li
{
    list-style-type: none;
    display: inline;
} */


ul
{
    background-color: burlywood;
    display: flex;
    justify-content: space-evenly;
}

a
{
    text-decoration: none;
    color: black;
}

li
{
    list-style-type: none;
    
}

.outer
{
    height: 400px;
    width: 400px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner
{
  height: 100px;
  width: 100px;
  background-color: blueviolet;
  
}
