div{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: skyblue;
    color: black;
    border: 2px solid #000000;
   position: absolute;
   top: 20%;
   left: 50%;
    font-size: 25px;hn
text-align: center;
transition: all 1s ease-in-out 0s;
/* transform: rotate(360deg); */
/* transform: scale(1.5,1); */
/* transform: translate(100px); */
/* transform: skew(45deg); */


/* animation-name: coloranimate;
animation-duration: 2s;
animation-timing-function: ease-in;
animation-delay: 1s;
animation-iteration-count: infinite;
animation-direction: alternate; */
animation: coloranimate 2s ease-in 1s infinite alternate;
}
/* Animations */
@keyframes coloranimate
{
    /* from { background-color: skyblue; left: 0px;}
    to { background-color: red; left: 100%;} */
    0% {
        left: 0px;
        background-color: yellow;
    }
    50%
    {
        background-color: darkorchid;
    }
    100%
    {
        left: 200px;
        background-color: #490808;
    }
}

div:hover
{
    background-color: brown;
    color: white;
    font-size: 50px;
}

div:active
{
    background-color: chocolate;
    color: black;
}